stages:
  - deploy
  - test
test_keys:
  image: python:3.8-buster

  before_script:
    - pip install -r requirements.txt
  stage: test
  script:
    - test/test_key_yaml.py
pages:
  stage: deploy
  image: python:3.8-buster

  before_script:
    - pip install -r requirements.txt
  script:
    - mkdir .public
    - cp -r ./* .public
    - rm -rf public
    - mv .public public
    - mkdocs build --strict --verbose
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH