variables:
  GIT_SUBMODULE_STRATEGY: normal

stages:          # List of stages for jobs, and their order of execution
  - build-page
  - build-container
  - run-test

docker:
    stage: build-container
    only:
      - main
    image: docker:latest
    services:
        - name: docker:dind
          alias: docker
    before_script:
        - apk update && apk add git
        - apt-get update -qq && apt-get install -y -qq git 
        - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

    script:
      - docker build --pull -t "$CI_REGISTRY_IMAGE:latest" .
      - docker push "$CI_REGISTRY_IMAGE:latest"

docker-dev:
    stage: build-container
    only:
      - unstable
    image: docker:latest
    services:
        - name: docker:dind
          alias: docker
    before_script:
        - apk update && apk add git
        - apt-get update -qq && apt-get install -y -qq git 
        - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

    script:
      - docker build --pull -t "$CI_REGISTRY_IMAGE:dev" .
      - docker push "$CI_REGISTRY_IMAGE:dev"

test:       # Test run
  stage: run-test
  image: python:3.8-buster
  before_script:
  - pip install -r requirements.txt
  script:
    - test/test_key_yaml.py

page:       # This job runs in the build stage, which runs first.
  stage: build-page
  image: python:3.8-buster
  pages:
    # The folder that contains the files to be exposed at the Page URL
    publish: public
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  # Functions that should be executed before the build script is run
  before_script:
    - pip install .
  script:
    - mkdocs build --strict --verbose

  




